doctype html
html lang="ja"
  head
    title Demo - Signup Form | PingPong Form ( Prototype ) 
    meta name="keywords" content="template language"
    link rel="stylesheet" href="stylesheets/base/base.css" media="all"
    link rel="stylesheet" href="stylesheets/layout/layout.css" media="all"
    link rel="stylesheet" href="stylesheets/modules/module.css" media="all"
    link rel="stylesheet" href="stylesheets/modules/site.css" media="all"
    link rel="stylesheet" href="stylesheets/modules/button.css" media="all"
    link rel="stylesheet" href="stylesheets/modules/form.css" media="all"
    link rel="stylesheet" href="stylesheets/modules/icon.css" media="all"
    link rel="stylesheet" href="stylesheets/modules/signup.css" media="all"
    link rel="stylesheet" href="stylesheets/state/state.css" media="all"
    link rel="stylesheet" href="../../../vendor/font-awesome/css/font-awesome.min.css" media="all"
    script src="javascripts/ajaxzip3.js" charset="UTF-8"
  body
    header
      div class="header-module"
        div class="site-title"
          h1 class="site-title-logo"
            a href="../../index.html" class="site-title-logo-link"
              | PingPong Form ( Prototype ) 
          strong class="site-title-description"
            | Form with interactive operability

    main[role="main"]
      div class="main-module signup"
        form accept-charset="UTF-8" action="/singup" method="post" id="new_signup" class="form"
          div class="signup-header"
            h1 class="signup-title"
              | 新規会員申し込み
            div class="signup-flow"
              ol class="signup-flow-list"
                li class="is-flow-active" 入力
                li 確認
                li 完了
          div class="signup-body"
            div class="signup-body-form"
              fieldset class="form-fieldset"
                legend class="form-fieldset-legend"
                  | お客様情報
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label" for="name"
                      | お名前
                  div class="form-field-body"
                    small class="form-input-note"
                      | 例）山田 太郎
                    div class="form-input-cover"
                      input class="form-input-text" type="text" id="name" name="name"
                  div class="form-field-footer"
                    div class="form-input-status"
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label" for="name_kana"
                      | ふりがな
                  div class="form-field-body"
                    small class="form-input-note"
                      | 例）やまだたろう
                    div class="form-input-cover"
                      input class="form-input-text" type="text" id="name_kana" name="name_kana"
                  div class="form-field-footer"
                    div class="form-input-status"
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label"
                      | 性別
                  div class="form-field-body"
                    ul class="form-input-cover-list"
                      li
                        label
                          input class="form-input-radio" type="radio" id="gender1" name="gender" value="1"
                          | 男性
                      li
                        label
                          input class="form-input-radio" type="radio" id="gender2" name="gender" value="2"
                          | 女性
                  div class="form-field-footer"
                    div class="form-input-status"
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label"
                      | 生年月日
                  div class="form-field-body"
                    div class="form-input-cover"
                      div class="form-input-unit"
                        small class="form-input-unit-assistance"
                          | 西暦
                        input class="form-input-text form-input-text-birth-year" type="number" id="birth_year" name="birth_year" placeholder="1995"
                        small class="form-input-unit-assistance"
                          | 年
                      div class="form-input-unit"
                        input class="form-input-text form-input-text-birth-month" type="number" id="birth_month" name="birth_month" placeholder="12"
                        small class="form-input-unit-assistance"
                          | 月
                      div class="form-input-unit"
                        input class="form-input-text form-input-text-birth-day" type="number" id="birth_day" name="birth_day" placeholder="1"
                        small class="form-input-unit-assistance"
                          | 日
                  div class="form-field-footer"
                    div class="form-input-status"
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label" for="email"
                      | メールアドレス
                  div class="form-field-body"
                    small class="form-input-note"
                      | 例）test@example.com
                    div class="form-input-cover"
                      input class="form-input-text" type="email" id="email" name="email"
                  div class="form-field-footer"
                    div class="form-input-status"
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label" for="tel"
                      | 電話番号
                  div class="form-field-body"
                    small class="form-input-note"
                      | 固定電話、携帯電話、いずれもOKです（ただし日本国内の回線に限ります）。
                    small class="form-input-note"
                      | 例）000-1111-2222 、00011112222
                    div class="form-input-cover"
                      input class="form-input-text form-input-text-tel" type="tel" id="tel" name="tel"
                  div class="form-field-footer"
                    div class="form-input-status"
              fieldset class="form-fieldset"
                legend class="form-fieldset-legend"
                  | 住所情報
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label" for="zipcode"
                      | 郵便番号
                  div class="form-field-body"
                    small class="form-input-note"
                      | 郵便番号を入力して頂くと、自動で市区町村まで入力されます。
                    small class="form-input-note"
                      | 例）000-1111 、0001111
                    div class="form-input-cover"
                      input class="form-input-text form-input-text-zipcode" type="text" id="zipcode" name="zipcode" onKeyUp="AjaxZip3.zip2addr(this,'','prefecture','address_city');"
                  div class="form-field-footer"
                    div class="form-input-status"
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label" for="prefecture"
                      | 都道府県
                  div class="form-field-body"
                    div class="form-input-cover"
                      select class="form-input-select" id="prefecture" name="prefecture"
                        option value="" selected="selected"
                          | -- 都道府県 --
                        optgroup label="北海道"
                          option value="1"
                            | 北海道
                        optgroup label="東北"
                          option value="2"
                            | 青森県
                          option value="3"
                            | 岩手県
                          option value="4"
                            | 宮城県
                          option value="5"
                            | 秋田県
                          option value="6"
                            | 山形県
                          option value="7"
                            | 福島県
                        optgroup label="関東"
                          option value="8"
                            | 茨城県
                          option value="9"
                            | 栃木県
                          option value="10"
                            | 群馬県
                          option value="11"
                            | 埼玉県
                          option value="12"
                            | 千葉県
                          option value="13"
                            | 東京都
                          option value="14"
                            | 神奈川県
                        optgroup label="北陸"
                          option value="15"
                            | 新潟県
                          option value="16"
                            | 富山県
                          option value="17"
                            | 石川県
                          option value="18"
                            | 福井県
                        optgroup label="中部"
                          option value="19"
                            | 山梨県
                          option value="20"
                            | 長野県
                          option value="21"
                            | 岐阜県
                          option value="22"
                            | 静岡県
                          option value="23"
                            | 愛知県
                        optgroup label="近畿"
                          option value="24"
                            | 三重県
                          option value="25"
                            | 滋賀県
                          option value="26"
                            | 京都府
                          option value="27"
                            | 大阪府
                          option value="28"
                            | 兵庫県
                          option value="29"
                            | 奈良県
                          option value="30"
                            | 和歌山県
                        optgroup label="中国"
                          option value="31"
                            | 鳥取県
                          option value="32"
                            | 島根県
                          option value="33"
                            | 岡山県
                          option value="34"
                            | 広島県
                          option value="35"
                            | 山口県
                        optgroup label="四国"
                          option value="36"
                            | 徳島県
                          option value="37"
                            | 香川県
                          option value="38"
                            | 愛媛県
                          option value="39"
                            | 高知県
                        optgroup label="九州/沖縄"
                          option value="40"
                            | 福岡県
                          option value="41"
                            | 佐賀県
                          option value="42"
                            | 長崎県
                          option value="43"
                            | 熊本県
                          option value="44"
                            | 大分県
                          option value="45"
                            | 宮崎県
                          option value="46"
                            | 鹿児島県
                          option value="47"
                            | 沖縄県
                  div class="form-field-footer"
                    div class="form-input-status"
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label" for="address_city"
                      | 市区町村と番地
                  div class="form-field-body"
                    small class="form-input-note"
                      | 例）千代田区千代田1-1
                    div class="form-input-cover"
                      input class="form-input-text" type="text" id="address_city" name="address_city"
                  div class="form-field-footer"
                    div class="form-input-status"
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label" for="address_city_under"
                      | マンション名
                  div class="form-field-body"
                    small class="form-input-note"
                      | 例）チヨダビル101号室
                    div class="form-input-cover"
                      input class="form-input-text" type="text" id="address_city_under" name="address_city_under"
                  div class="form-field-footer"
                    div class="form-input-status"
              fieldset class="form-fieldset"
                legend class="form-fieldset-legend"
                  | アカウントの登録
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label" for="account_name"
                      | アカウント名
                      small class="form-input-label-note"
                        | サービス内で使用される名前
                  div class="form-field-body"
                    small class="form-input-note"
                      | 英数字のみでご入力ください。
                    div class="form-input-cover"
                      input class="form-input-text" type="text" id="account_name" name="account_name"
                  div class="form-field-footer"
                    div class="form-input-status"
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label" for="profile-pic"
                      | アカウント画像
                  div class="form-field-body"
                    small class="form-input-note"
                      | ファイルの拡張子は jpg, png, gif のいずれかからお選びください。
                    div class="form-input-cover"
                      input class="form-input-file" type="file" id="profile-pic" name="profile-pic"
                  div class="form-field-footer"
                    div class="form-input-status"
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label" for="password"
                      | パスワード
                  div class="form-field-body"
                    small class="form-input-note"
                      | 半角英数字のみで、6文字以上のものを入力ください。
                    div class="form-input-cover"
                      input class="form-input-text" type="password" id="password" name="password"
                  div class="form-field-footer"
                    div class="form-input-status"
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-required"
                      | 必須
                    label class="form-input-label" for="password_confirmation"
                      | パスワードご確認用
                  div class="form-field-body"
                    small class="form-input-note"
                      | ご入力防止の為、上記と同じパスワードを再度ご入力ください。
                    div class="form-input-cover"
                      input class="form-input-text" type="password" id="password_confirmation" name="password_confirmation"
                  div class="form-field-footer"
                    div class="form-input-status"
              fieldset class="form-fieldset"
                legend class="form-fieldset-legend"
                  | その他
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-optional"
                      | 任意
                    label class="form-input-label"
                      | 頭皮に関するアンケート
                      small class="form-input-label-note"
                        | input type="checkbox"
                  div class="form-field-body"
                    small class="form-input-note"
                      | 入力に関する注釈や例文
                    ul class="form-input-cover-list form-input-cover-list-baldness-troubles"
                      li
                        label
                          input class="form-input-checkbox" type="checkbox" id="trouble1" name="baldness_troubles"
                          | 最近抜け毛が増えてきたと思う..
                      li
                        label
                          input class="form-input-checkbox" type="checkbox" id="trouble2" name="baldness_troubles"
                          | 1年後の髪の毛が心配だ..
                      li
                        label
                          input class="form-input-checkbox" type="checkbox" id="trouble3" name="baldness_troubles"
                          | 親父がハゲてるから遺伝が..
                      li
                        label
                          input class="form-input-checkbox" type="checkbox" id="trouble4" name="baldness_troubles"
                          | 整髪剤をつけるのが恐い..
                      li
                        label
                          input class="form-input-checkbox" type="checkbox" id="trouble5" name="baldness_troubles"
                          | 最近排水口に溜まる髪の毛が多い..
                      li
                        label
                          input class="form-input-checkbox" type="checkbox" id="trouble6" name="baldness_troubles"
                          | しゃべってる相手の目線が上すぎる..
                  div class="form-field-footer"
                    div class="form-input-status"
                div class="form-field"
                  div class="form-field-header"
                    small class="form-input-optional"
                      | 任意
                    label class="form-input-label" for="note"
                      | 備考欄
                  div class="form-field-body"
                    small class="form-input-note"
                      | 500文字以内で入力して下さい
                    div class="form-input-cover"
                      textarea class="form-input-textarea" id="note" name="note"
                  div class="form-field-footer"
                    div class="form-input-status"
          div class="signup-footer"
            div class="form-pagination"
              button type="submit" class="button btn-next-form"
                | 確認画面に進む
                span class="btn-separation"
                i class="fa fa-chevron-right"

    footer
      div class="footer-module"
        address class="site-author"
          | Made by
          a href="https://github.com/thleap" target="_blank" class="site-author-account"
            | thleap
