// # Form Modules
// フォームで使うモジュール。

// # Pagenation Buttons
// ## Next Button
// ```
// <button class="form-parts-btn-next" type="submit">確認画面に進む<span class="form-parts-btn-separation"></span><i class="fa fa-chevron-right"></i></button>
// ```

// # Input Required, Optional
// ## Required
// ```
// <small class="form-field-header-required">必須</small>
// ```
// ## Optional
// ```
// <small class="form-field-header-optional">任意</small>
// ```

.form {
}

.form-fieldset {
  margin: 18px 0;
  &:first-child {
    margin-top: 0;
  }
}

.form-fieldset-legend {
  margin-bottom: 13px;
  width: 100%;
  font-size: 24px;
}

.form-field {
  margin: 13px 0;
  padding-bottom: 13px;
  border-bottom: 1px solid #eeedeb;
}

.form-field-header {
  margin-bottom: 13px;
}

.form-field-header-required {
  margin-right: 8px;
  padding: 3px 8px;
  border: 1px solid #699569;
  border-radius: 4px;
  background-color: #77a977;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
}

.form-field-header-optional {
  margin-right: 8px;
  padding: 3px 8px;
  border: 1px solid #7f7f7f;
  border-radius: 4px;
  background-color: #909090;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
}

.form-field-header-label {
  display: inline;
  font-size: 18px;
}

.form-field-header-label-note {
  font-size: 14px;
  &:before {
    content: "（";
  }
  &:after {
    content: "）";
  }
}

.form-field-body {
  padding: 5px 8px;
  border: 1px solid #eeedeb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #f8f9f8;
}

.form-field-body-note {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.form-field-footer {
  padding: 5px 8px;
  border: 1px solid #eeedeb;
  border-top-width: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #f8f9f8;
}

.form-field-footer-status {
  overflow: hidden;
  min-height: 26px;
}

.form-field-footer-status-icon {
  float: left;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  border: 1px solid #818181;
  border-radius: 50%;
  background-color: #909090;
  text-align: center;
  line-height: 26px;
}

.form-field-footer-status-message {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 26px;
  vertical-align: middle;
}

.form-parts-text {
  border-width: 1px;
  border-color: #eeedeb;
  width: 400px;
}

.form-parts-textarea {
  border-width: 1px;
  border-style: inset;
  border-color: #eeedeb;
  width: 600px;
  height: 80px;
}

.form-parts-radio {
  margin-right: 5px;
}

.form-parts-checkbox {
  margin-right: 5px;
}

.form-parts-select {
}

.form-parts-file {
}

.form-parts-cover {
  display: inline-block;
  padding: 5px;
  border: 1px solid #eeedeb;
  background-color: #fff;
}

.form-parts-cover-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-right: 8px;
    padding: 5px;
    border: 1px solid #eeedeb;
    background-color: #fff;
  }
}

.form-parts-cover-list-specials {
  li {
    width: 200px;
    margin-bottom: 8px;
  }
}

.form-parts-btn-next {
  display: block;
  margin: 0;
  padding: 5px 18px;
  border: 1px solid #b24f31;
  border-radius: 4px;
  background-color: #db4c22;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.4);
  box-shadow: 0 5px 0 #b24f31;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-parts-btn-separation {
  margin: 0 13px;
  width: 1px;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 0 rgba(255, 255, 255, .4);
}
