header {
  overflow: hidden;
  border-bottom: 1px solid #eeedeb;
  background-color: #fff;
}

main[role="main"] {
  overflow: hidden;
  background-color: #43444f;
}

footer {
  overflow: hidden;
  border-top: 1px solid #eeedeb;
  background-color: #fff;
}
