$site-bg-color: #43444f;
$site-color: #000;
$site-link-color: #0076c9;
$site-link-color-visited: #0076c9;

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $site-bg-color;
  font-family:  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Helvetica, sans-serif;
  font-size: 14px;
  color: $site-color;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

em {
  font-weight: bold;
  font-style: normal;
}

a {
  color: $site-link-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $site-link-color;
    text-decoration: underline;
  }
  &:visited {
    color: $site-link-color-visited;
    text-decoration: none;
    cursor: pointer;
  }
}

img {
  vertical-align: middle;
}

ul {
  padding-left: 15px;
}

ol {
  padding-left: 19px;
}
