.header-inner{
  margin: 0 auto;
  padding: 8px 0;
  width: 800px;
}

.site-title {
}

.site-title-logo {
  margin-top: 0;
  margin-bottom: 0;
}

.site-title-logo-link {
  color: #000;
  &:hover {
    color: #000;
    text-decoration: none;
  }
  &:visited {
    color: #000;
  }
}

.site-title-description {
  font-weight: normal;
}
